<h1>Editing Artist: </h1>

<%= render 'form', artist: @artist, remote: true %> <br/>

<%#= render 'photos/list', artist: @artist %> <br/>




<%= link_to 'See the artist', artist_path(@artist), class: "btn btn-default" %>
<%#= link_to 'List of All artists', artists_path %>
