<%= form_for [@artist, @artist.songs.new], :html => { :id => "form_songs" } do |f| %>
  <div class="field">

    <%= f.text_field :name, placeholder: "Write a New Song", class: 'form-control' %>
    <%= f.hidden_field :artist_id, :value => @artist.id %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%# if !@song.nil? %>
      <%# if @artist.song.errors.any? %>
        <%# @artist.song.errors.full_messages.each do |message| %>
          <small class="error"><%#= message %></small>
        <%# end %>
      <%# end %>
    <%# end %>
  </div>
<% end %>
