<h1>Name: <%= @song.title %></h1> <br />



<%= link_to "Edit", edit_song_path(@song) %>
<%= link_to "Delete", artist_song_path(@song), method: :delete, data: { confirm: "Are you sure?" }, :remote => true %>
